/* HEADER */
header {
  background-color: black;
}

header span {
  color: white;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}
  
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
  
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
  
.overlay p {
  padding: 8px;
  font-size: 28px;
  color: #818181;
}

.overlay h1 {
  color: #818181;
  font-size: 45px;
  text-decoration: underline;
  vertical-align: top;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}
  
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
  
@media screen and (max-height: 450px) {
  .overlay { 
    overflow-y: auto;
  }
  .overlay a {
    font-size: 20px
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* INDEX */
body {
  margin: 0;
  width: 100%;
  font-family: "Lato", sans-serif;
  background-image: url("../img/header.jpg");
  background-size: cover;
}

main {
  padding-left: 10px;
  font-family: "Sanchez", serif;
}

main h1 {
  text-decoration: underline;
  text-align: center;
  font-size: 50px;
  color: #fed054;
  -webkit-text-stroke: 1.5px #b37f46;
}

h2 {
  text-align: center;
  color: white;
}

.titreAC {
  text-decoration: underline;
  text-align: center;
  font-size: 35px;
  color: #fed054;
  -webkit-text-stroke: 1.5px #b37f46;
}

/* HOME PAGE */
.story {
  color: white;
  margin-right: 5%;
}

/* TUTORIAL PAGE */
.imagetuto {
  display: flex;
  flex-direction: row;
}

.imagetuto figure {
    display:grid;
}

.imagetuto figure img {
  width: 50%;
}

.imagetuto figcaption {
  background-image: url("../img/footer.jpg");
  display: table-caption;
  caption-side: bottom;
  text-align: center;
  width: 55%;
}

/* BUTTONS */
button {
  position: relative;
  bottom: 25%;
  left: 40%;
}

button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),inset 2px 2px 3px rgba(0, 0, 0, .6);
}

button a, button p {
  text-decoration: none;
  color: white;
}

.gameBtton {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(134, 71, 18);
  background-image: linear-gradient(to top left,rgba(0, 0, 0, .2),rgba(0, 0, 0, .2) 30%,rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.gameBtton:hover {
  background-color: rgb(158, 91, 15);
}

.homeBtton {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(184, 181, 178);
  background-image: linear-gradient(to top left,rgba(0, 0, 0, .2),rgba(0, 0, 0, .2) 30%,rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.homeBtton:hover {
  background-color: rgb(196, 194, 193);
}

.tutoBtton {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(168, 168, 168);
  background-image: linear-gradient(to top left,rgba(0, 0, 0, .2),rgba(0, 0, 0, .2) 30%,rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.tutoBtton:hover {
  background-color: rgb(189, 187, 184);
}

.tutoBtton a, .homeBtton a {
  color: black;
}

.solveBtton {
  border: 0;
  line-height: 0.5;
  padding: 0 20px;
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Bahiana', cursive;
  cursor:pointer;
  position: absolute;
  left: 78%;
  bottom: 25%;
  border-radius: 10px;
  background-color: rgb(134, 71, 18);
  background-image: linear-gradient(to top left,rgba(0, 0, 0, .2),rgba(0, 0, 0, .2) 30%,rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.solveBtton:hover {
  background-color: rgb(158, 91, 15);
}

.replay{
  font-family: 'Bahiana', cursive;
  font-size: 1.2rem;
  position: absolute;
  left: 77%;
  bottom: 15%;
}
/* SETTINGS PAGE */
.division, .optnGrille, .optnGrille1{
  margin:0;
  padding:0;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.division .optnGrille img, .optnGrille1 img{
  width: 50%;
}

.division{
  gap: 30px;
}

.grille{
  cursor:pointer;
  background-size:cover;
  background-repeat:no-repeat;
  display:inline-block;
  width:180px;height:100px;
  -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
      transition: all 100ms ease-in;
  -webkit-filter: grayscale(.5) opacity(.9);
    -moz-filter: grayscale(.5) opacity(.9);
      filter: grayscale(.5) opacity(.9);
  background-image: url("../img/footer.jpg");
  border-radius: 2rem;
  border: 2px solid brown;
  text-align: center;
}

.grille:hover, .optnGrille input:checked + .grille, .optnGrille1 input:checked + .grille{
  -webkit-filter: none;
     -moz-filter: none;
          filter: none;
}

.optnGrille2 {
  background-image: url("../img/footer.jpg");
  background-size: cover;
  border: 2px solid brown;
  border-radius: 2rem;
  text-align: center;
  width: 300px;
  margin-left: 25%;
}

.division h3{
  color: white;
  font-size: x-large;
  text-align: center;
}

/* THE GAME */
table {
  display: flex;
  justify-content: center;
}

.legendC td {
  border-right: 1px solid black;
  border-left: 1px solid black;
  text-align: center;
  width: 2em;
  height: 6em;
}

.legendC .null {
  border: none;
}

.legendL {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-collapse: collapse;
  text-align: end;
  width: 6em;
  height: 2em;
}

.dot {
  width: 2em;
  height: 2em;
  background-color: #ccc;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease; 
  -o-transition: all 0.5s ease; 
}

tr .dot {
  color: transparent;
  font-size: 0;
}

.box {
  display: flex;
  flex-direction: column;
}

/* THEME BUTTONS */
.themeBtton1, .themeBtton2, .themeBtton3 {
  border: 0;
  line-height: 2;
  padding: 0 12px;
  font-size: 20px;
  text-align: center;
  font-family: 'Bahiana', cursive;
  border-radius: 10px;
  position: absolute;
  left: 78%;
  bottom: 50%;
  cursor:pointer;
  position: absolute;
  bottom: 80%;
  background-image: linear-gradient(to top left,rgba(0, 0, 0, .2),rgba(0, 0, 0, .2) 30%,rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.themeBtton1 {
  background-color: rgb(89, 214, 31);
  left: 73%;
}

.themeBtton2 {
  background-color: rgb(31, 89, 214);
  left: 80%;
}

.themeBtton3 {
  background-color: #e3c378;
  left: 88%;
}

/* CHRONOMETER */
input[type=text] {
  text-align: center;
  font-family: 'Bahiana', cursive;
  background-image: url("../img/footer.jpg");
  border: none;
  font-size: 30px;
  position: relative;
  left: 57%;
  border: 2px solid brown;
  border-style: ridge;
}

input[name=seco]{
  visibility: hidden;
}

/* SCOREBOARD */
#score {
  font-size: 25px;
  color: white;
  text-align: center;
  background-image: url("../img/footer.jpg");
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  width: 30.5%;
}

#score th {
  border-bottom: 5px solid black;
}

/* ERROR PAGE */
#error {
  color: white;
}

/* FOOTER */
footer {
  text-align: center;
  border: black;
  background-image: url("../img/footer.jpg");
  padding-bottom: 5px;
}